body {
    background-color: lightyellow;
}

h1 {
    font-size: small;
    color: white;
}

label {
    font-size: small;
    margin-bottom: 0.0;
    color: white;
}

main {
    font-size: 24px;
    margin: 0 auto;
    height: 27em;
    width: 19em;
    padding: 0.5em;
    background-color: rgb(100, 100, 109);
    border-radius: 12px;
}

div {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-auto-rows: max-content;
    grid-template-areas: "a a a a a";
}

input {
    border: 0;
    border-radius: 5px;
    background: rgb(164, 167, 189);
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 28px;
    width: 15.9em;
    line-height: 2em;
    margin: 0.2em;
    margin-bottom: 0.6em;
    display: block;
    text-align: center;
}

button {
    border: 0;
    border-radius: 5px;
    background: rgb(129, 174, 177);
    color: #1d2f36;
    cursor: pointer;
    font: inherit;
    margin: 0.3em;
    width: 3em;
    height: 2em;
}

button:hover {
    background: rgb(154, 215, 219);
}