body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    color: black;
}

h1{
    color: RED;
}

h2{
    color: orange;
}


