body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    color: black;
    font-size: 4em;
}

section {
    margin: 3%;
    color: black;
    background-color: white;
    border-radius: 4px;
    padding: 30px;
    align-items: center;
}

h3+section {
    height: 20rem;
    width: auto;
}

aside {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 1rem;
    grid-row-gap: 3rem;
    font-family: 'Titillium Web', sans-serif;
}

.droppable {
    width: 15rem;
    height: 15rem;
    max-height: 15rem;
    border: 1px dotted #7f8082;
    border-radius: 3px;
    padding: 0.5rem;
}

section {
    margin: 3%;
    color: black;
    background-color: white;
    border-radius: 4px;
    padding: 30px;
    align-items: center;
}